/*=========================================
        Table of Content
===========================================
*/

/*
        1-review section
        2-review card
        3-responsive design (media query)
        
*/

/*=========================================
        1-review section
===========================================
*/
/*=========================================
        2-review card
===========================================
*/
.reviews .review {
  flex-direction: column;
  border: 1px solid rgba(68, 187, 241, 0.548);
  border-radius: 8px;
  align-items: flex-start;
  padding: 2rem;
  gap: 1rem;
  width: 80%;
  margin: 7rem auto;
  /* background-image: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.1),
    rgba(0, 0, 0, 0.5)
  ); */
  background-color: var(--card-background);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: 0.5s ease;
}
.reviews .review:hover {
  scale: 1.01rem;
  border: 1px solid var(--blue-color);
  /* box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); */
}

.reviews .review .avatar {
  gap: 1rem;
}
.reviews .review .avatar div:first-child,
.reviews .review .avatar h3 {
  font-size: 3rem;
  color: var(--title);
}
.reviews .review .stars span {
  color: var(--title);
}

.reviews .review .date,
.reviews .review .opinion {
  color: var(--sub-title);
}

.slider-controler {
  position: relative;
  bottom: 0rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: var(--blue-color);
  font-size: 2rem;
  gap: 2rem;
}

/*=========================================
        3-responsive design (media query)
===========================================
*/

@media (max-width: 400px) {
  .reviews .review {
    align-items: center;
    min-width: 90px;
  }
  .reviews .review .avatar {
    flex-direction: column;
  }
  .reviews .review .avatar div:first-child,
  .reviews .review .avatar h3 {
    font-size: 2rem;
  }
}
